.content {
    width: 100%;
    justify-content: none;
    padding: 0 40px;
}
.slider-small {
    width: 100%;
    justify-content: space-between;
}
.slider-small > img {
    margin: 0;
}

.product {
    width: 230px;
    height: 340px;
}

@media screen and (max-width: 1600px){
    .product {
        width: 180px;
        height: 270px;
    }
    .slider-small > img {
        height: 50px;
    }
}
@media screen and (max-width: 1250px) {
    .p-5 {
        display: none;
    }
}
@media screen and (max-width: 1000px) {
    .p-4 {
        display: none;
    }
}
@media screen and (max-width: 800px) {
    .p-3 {
        display: none;
    }
    .slider-small {
        justify-content: center;
    }

    .slider-small > *{
        margin: 0 15px;
    }
    .product {
        width: 160px;
        height: 240px;
    }
}
@media screen and (max-width: 500px) {
    .p-2 {
        display: none;
    }
    .slider-small > img {
        margin-left: 20px;
    }
}