@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;    
}

body {
     background: white;
    font-family: 'Jost';
}

.logo {
    left: 50px;
    position: relative;
}

.logo:hover{
    transform: scale(1.2);
}

.logo img {
    position: absolute;
    margin-top: -20px;
}

.conteiner-1 {
    position: relative;    
    width: 100%;
}

.conteiner_1 {
    position: relative;   
    margin-top: 26px;      
}

ul li { 
    display:inline-block;
}

.content_str1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-height: 50%;
    min-width: 50%;
    margin-top: -50px;
}

.knopka {
    display: flex;
    margin: 0 122px;
    list-style-type: none;
}

.knopka li {
    margin: 0 25px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 150px;
    height: 45px;
    border-radius: 25px;
    background:#F3F3F3;
    text-align: center;
}

.button:hover {
    
    transform: scale(1.2);
}
.button:active {
    transform: scale(0.9);
    opacity: .8;
}
.button a {
    margin-top: -2px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.button a:hover {
    color: #9A1212;
}


.content_str2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 40px;
    margin-right: 400px;
}


.block {
    width: 772px;
height: 360px;
    background: #9A1212;
    border-radius: 60px;
    margin-left: -50px;
    margin-top: 5px;
}

.sostav {
   padding: 30px 157px 19px 33px;   
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    color: #FFFFFF;
}

.name {
    font-size: 36px;
}
.image {
    position: absolute;
    background: url('../img/new2.png');
    width: 255px;
    height: 90%;
    background-size: cover;
    background-position: center center;
    border-radius: 82px;
    margin-left: 650px;
    margin-top: -330px;
}
.footer {
    display: flex;
    align-items:center;
    margin-top: 85px;
    height: 100px;
    width: 100%;
    background-color: #F3F3F3;
    
}
.footer-s {
    
    width: 84px;
    height: 56px;
    left: 21px;
    margin-left: 40px;
    background: #FFFFFF;
    border-radius: 20px;
}
.footer-s:hover {
    transform: scale(1.2);
}


.s-left {
    margin-top: 12px;
    margin-left: 25px;
    position: relative;
    width: 30px;
    height: 30px;
    transition: opacity .3s, transform .3s;
}

.s-left:hover {
    opacity: .8;
    transform: scale(1.2);
}

.s-left div {
    position: absolute;
    width: 30px;
    height: 30px;
    border-left: solid #9A1212 7px;
    border-bottom: solid #9A1212 7px;
    transform: rotate(45deg);
}
.s-left div:nth-child(1) {
    left: 50%;
}
.list4 {
    position: absolute;
    width: 300px;
    height: 350px;
    right: 0;
    bottom: 0;    
    z-index: 0;
}




@media (max-width:1200px){
    .list4 {
       transform: scale(0.8);
       right: -50px;
    }
    .content_str2 {
         transform: scale(0.9);
         margin-left: 500px;
    }
}
@media (max-width:992px){
    .content_str2 {
        margin-right: 150px;
        
    }
    .name {
        margin-left: 550px;
    }
    .sostav {
        margin-left: 20px;
    }
    .block {
        width: 700px;
        height: 380px;
        margin-left: 500px;
    }
    .image {
        margin-top: -370px;
        margin-left: 600px;
    }
    .list4 {
        margin-bottom: -70px; 
    }
    .footer {
       margin-top: 50px;
    }
    
}
@media screen and (max-width: 769px) {
    .sostav {
        margin-left: 10px;
        font-size: 20px;
        width: 300px;
    }
    .block {
        width: 500px;
        height: 300px;
    }

    .image {
        width: 200px;
        margin-left: 400px;
    }
    .logo {
        transform: scale(0.8);
        margin-top: -20px;
    }
    .knopka {
        margin-top: 35px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        margin-left: 150px;
    }
    .knopka li{
        margin: 0 10px;
    }
    .knopka {
        margin-right: 10px;
    }
    .content_str2 {
        display: flex;
        align-items: center;
    }
     .sostav {
        margin-left: 10px;
        font-size: 20px;
        width: 300px;
    }
    .content_str2 {
        transform: scale(0.8);
        margin-right: -30px;
    }
    .block {
        width: 500px;
        height: 300px;
    }

    .image {
        width: 200px;
        margin-left: 370px;
        height: 300px;
    }

    .list4 {
        display: none;
    }

}