@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Jost';
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

.wrapper-110 {
    height: 110vh;
}

.wrapper {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.wrapper-90 {
    height: 90vh;
}


.red {
    background: #9A1212;
}

.logo {
    align-self: flex-start;
    position: absolute;
    height: 70vh;
    width: 70vh;
    background: white;
    border-radius: 0px 50% 50% 50%;
    box-shadow: inset 0px 0px 15px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_kepchup {
    height: 55%;
}
.logo_dkp {
    height: 17%;
    position: absolute;
    left: 5%;
    top: 5%;
}
.vetochka-1 {
    position: absolute;
    top: 40%;
    left: 5%;
    height: 40%;
}

.p60 {
    padding: 60px;
}

.f-end {
    align-items: flex-end;
}

.buttons {
    position: relative;
    display: flex;
    z-index: 77;
}

.btn {
    background: white;
    height: 48px;
    width: 150px;
    border-radius: 30px;
    font-size: 18px;
    transition: transform .15s;
    z-index: 90;
}

.btn a {
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    transform: scale(1.1);
}

.btn:hover a {
    font-weight: bold;
    color: rgb(23, 201, 38);
}

.btn:hover::before {
    background: rgb(23, 201, 38);
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    width: 150px;
    bottom: -10px;
    left: 2px;
}

.menu_icon {
    height: 3px;
    width: 15px;
    background: black;
    margin-left: 5px;
}

.menu_icon::after {
    content: "";
    position: absolute;
    display: block;
    background: black;
    height: 3px;
    width: 15px;
    top: 35%;
}
.menu_icon::before {
    content: "";
    position: absolute;
    display: block;
    background: black;
    height: 3px;
    width: 15px;
    bottom: 34%;
}

.btn:hover .menu_icon, .btn:hover .menu_icon::after, .btn:hover .menu_icon::before {
    background: rgb(23, 201, 38);
}

.btn-2 {
    margin: 0 5vw;
}



.title, .description {
    position: relative;
    color: white;
    max-width: 50%;
    font-size: 26px;
    text-align: right;
    z-index: 77;
}

.title {
    font-size: 90px;
    
}

.title span {
    font-size: 130px;
}

.vetochka-mainpage-1 {
    position: absolute;
    bottom: 0;
    right: 25%;
    height: 86vh;
    z-index: 2;
}
.dkp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 38px;
    background: url("../img/dkp.png");
    background-size: contain;
    background-repeat: repeat-x;
}

.footer {
    height: 99px;
    width: 100%;
    background: #F3F3F3;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 19px;
}

.new {
    font-size: calc(30px + 40 * ((100vw - 320px) / (1280 - 320)));
    margin-left: 400px;
    margin-top: 30px;
}

.slider-small {
    position: relative;
    z-index: 88;
    width: 80%;
    display: flex;
    align-items: center;
}

.slider-small > img {
    height: 80px;
    margin: 0 80px;
    justify-self: center;
    z-index: 88;
}

.slider-small > img:hover {
    transform: scale(1.2);
    transition: transform .1s;
}

.product {
    position: relative;
    height: 38vh;
    width: 30vh;
    min-height: 220px;
    min-width: 145px;
    background-color: #C4C4C4;
    border-radius: 40px;
    transition: transform .3s, background .5s;
}

.product a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.product p {
    position: relative;
    bottom: -5px;
    text-align: center;
    /* font-weight: bold; */
    font-size: 25px;
    color: #9A1212;
    z-index: 888;
    transition: opacity .3s;
    /* text-shadow: white 0 0 2px; */
    text-shadow: 1px 0 1px #fff, 
                 0 1px 1px #fff, 
                 -1px 0 1px #fff, 
                 0 -1px 1px #fff;
}

.p-s {
    margin: 0 7vw;
}

.product *:not(.vetochka-tovar) {
    z-index: 10;
}

.prod-img {
    height: 100%;
    min-height: 220px;
    min-width: 125px;
    border-radius: 40px;
    margin-right: -2px;
    margin-left: 20px;
}

.product:hover {
    background: #9A1212;
    transform: translateY(-15px);
}

.vetochka-tovar {
    opacity: 0;
    position: absolute;
    right: -128px;
    bottom: -100px;
    z-index: 6;
    transition: opacity .3s;
}

.product:hover .vetochka-tovar {
    opacity: 1;
}

.product:hover p {
    opacity: 0;
}

.vetochka-mainpage-2 {
    position: absolute;
    height: 100vh;
    bottom: 0;
    right: 16%;
    z-index: 1;
}

.footer p {
    position: relative;
    z-index: 88;
}

.vetochka-dop-1, .vetochka-dop-2 {
    position: absolute;
    z-index: 1;
    display: none;
}
.vetochka-dop-1 {
    right: 0;
    top: 25%;
    height: 40vh;
}

.vetochka-dop-2 {
    left: 0;
    bottom: -60px;
}

@media screen and (max-width: 1300px){
    .title {
        font-size: 70px;
    }
    
    .title span {
        font-size: 110px;
    }
    .description {
        font-size: 20px;
    }
    .new {
        margin-left: 0;
        align-self: center;
    }
    .slider-small {
        width: 100%;
        justify-content: space-between;
    }
    .product {
        width: 26vh;
    }
    .slider-small > img {
        margin: 0 20px;
    }
    .btn {
        height: 36px;
        width: 125px;
    }
    .btn:hover::before {
        width: 130px;
        height: 4px;
    }
}
@media screen and (max-height: 750px){
    .product p {
        font-size: 20px;
    }
}

@media screen and (max-width: 1050px) {
    .title {
        font-size: 60px;
    }
    
    .title span {
        font-size: 90px;
    }
    .description {
        font-size: 15px;
    }
    .btn {
        font-size: 16px;
    }
    .product p {
        font-size: 16px;
    }
    .footer {
        font-size: 20px;
    }
    
}
@media screen and (max-height: 750px) {
    .slider-small {
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 900px) {
    .slider-small {
        justify-content: space-around;
    }
    .s-3 {
        display: none;
    }
    .logo {
        display: none;
    }
    .f-end {
        align-items: center;
    }
    .title, .description{
        min-width: 90%;
        text-align: center;
    }
    .p60 {
        padding: 30px;
    }
    .vetochka-mainpage-1, .vetochka-mainpage-2 {
        display: none;
    }
    .vetochka-dop-1, .vetochka-dop-2 {
        display: block;
    }
    .slider-small > img {
        height: 60px;
        margin: 10px;
    }
}
@media screen and (max-width: 600px) {
    .s-2 {
        display: none;
    }
    .footer {
        font-size: 16px;
    }
    .new {
        margin-top: 50px;
    }
}
@media screen and (max-width: 600px) {
    .title {
        font-size: 50px;
        width: 100%;
    }
    
    .title span {
        font-size: 70px;
    }
    .description {
        font-size: 15px;
    }
    .product p {
        font-size: 15px;
    }
    .btn {
        height: 32px;
        width: 100px;
    }
    .btn:hover::before {
        width: 100px;
        height: 3px;
        bottom: -7px;
    }
    .btn-2 {
        margin: 0 15px;
    }
    .menu_icon::after {
        top: 30%;
    }
    .menu_icon::before {
        bottom: 29%;
    }
    .p60 {
        padding: 30px 0;
    }
    .vetochka-tovar {
        display: none
    };
}

@media screen and (max-width: 370px) {
    .title {
        font-size: 45px;
    }
}